body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode{
  background-color: #000000;
}

.dark-mode h1{ /* dark mode heading(s) stylings */
  color: #ffffff; 
}
.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px; 
  padding-right: 15px; /* prevents components from being pushed to the edge of the screen */
  min-height: 100vh;
}

.notes-list{
    display: grid; 
    grid-gap: 1rem; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new{
    background-color: #90ee90;
}

textarea{
    border: none;
    resize: none; 
    background-color: #90ee90;
}

textarea:focus{ /* pseudo element */
    outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.save:hover{
  background-color: #ededed;
  cursor: pointer;
}
.note {
  background-color: #87cefa; 
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap; 
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon {
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: #d3d3d3;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input { 
  border: none; 
  background-color:#d3d3d3;
}

.search input:focus{
  outline: none;
}